.style-guide-content {
    padding-left: 240px;
}
.style-guide-hero {
    padding: 90px 0;
    background-color: #fbfbfc;
    border-bottom: 1px solid #e9ecef;
}

.container {
    max-width: 1920px;
    margin-left: 0;
    margin-right: auto;
    min-width: 1024px;
    padding-right: 8.33333%;
    padding-left: 8.33333%;
}
.row, .style-guide-guidelines {
    margin-right: -1.42858%;
    margin-left: -1.42858%;
}

.style-guide-hero h1 {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 60px;
}